<h1>ワークスペースを作成する</h1>
<form>
<p>
<label class="container">
パブリック
<input type="radio" checked="checked" name="radio">
 
</label>
<label class="container">
パブベーク
<input type="radio" checked="checked" name="radio">

  
</label>
</p>
</form>
  <div class="col-md-6 col-md-offset-3">
  <%= link_to "Cancel", create_path, class: "btn btn-lg btn-primary" %>
     
  <%= link_to "Create", create_path, class: "btn btn-lg btn-primary" %>
  </div>

