<div class="center jumbotron">
  <h1>Slack Appへようこそ</h1>

  <h2 class="welcome">
  これはslackアプリケーションのホームページです。
  </h2>
  <%= link_to "サインイン", signin_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ワークスペース作成", "createworkspaces", class: "btn btn-lg btn-primary" %>
</div>