<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <%= render 'user/header' %>
    <div class="container">

      <%= render 'user/menu' %>
    
    </div>
    <div class="messagesendandreceive">
    <h1>Welcome to My Slack page</h1>
    <p style="font-size:25px;"><a href=""><img src="https://www.animatedimages.org/data/media/707/animated-welcome-image-0215.gif" border="0" alt="animated-welcome-image-0215" /></a><span>&nbsp;&nbsp;</span>Slack is a messaging application system</p>
    </div>
  </body>
</html>