<div class="header">
<div class="top_header">
<div class="header-right">
<%= link_to "", starmessage_path, class:"fa fa-star",style:"color:white"%>
<%= link_to "", mentionmessage_path,class:"fas fa-at",style:"color:white" %>
</div>
</div>
</div>