@import "bootstrap-sprockets";
@import "bootstrap";
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 20%;
    margin-bottom: 15px;
    
  }
  

  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }
  
  p{
    text-align:center;
  }
  .password{
    padding:20px;
  }
  body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
    color: blue;
  }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: black;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
  
  * {box-sizing: border-box;}

.header {
  height: 8%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(19, 94, 233);
  overflow-x: hidden;
}

.top_header a{
  float: left;
  color: black;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
.top_header a:hover {
  background-color:#90b9f7;
  color: black;
}

.top_header a.active {
  background-color:#a1a69a;
  color: rgb(7, 0, 0);
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
}
/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  
}
.cha-link{
  display: inline;
}

.main{
 padding-block-start: 0px;
}
.article{
  height: 82%;
  width: 64%;
  position: fixed;
  z-index: 1;
  top: 9%;
  left: 18%;
}
.mentionarticle{
  height: 82%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 12%;
  left: 20%;
}
.mentionchaname{
  color: rgb(22, 115, 190);
}
.mentionname{
  color: rgb(22, 115, 190);
}
#scrolldown {
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow-x:hidden;
}
#starscrolldown{
  overflow: auto;
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow-x:hidden;
}
#mentionscrolldown{
  overflow: auto;
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow-x:hidden;
}
#bottomscroll {
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow-x:hidden;
  
}
#threadscroll {
  overflow: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 80%;
  overflow-x:hidden;
  
}
#unreadscroll {
  overflow: auto;
  position: absolute;
  width: 100%;
  max-height: 80%;
  overflow-x:hidden;
  
}
.directarticle{
  height: 75%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 12%;
  left: 20%;
}
.stararticle{
  height: 82%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 12%;
  left: 20%;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.avatar {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  float:left;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.footer{
  height: 9%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 91%;
  left: 18%;
}
.manage p{
  text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  top: 40%;
  right: 0;
  width: 200%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
   
}
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.display-none{
  display:none;
}
.sidenav {
  height: 100%;
  width: 17%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(19, 94, 233);
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav div {
  color: rgb(8, 0, 0);
  padding: 3px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav div:hover {
  background-color: rgb(156, 189, 250);
  color:blue;
}

.bmsg{
  background-color:red;
}
.button {
  
  border: none;
}
.display-none{
  display:none;
}
.dropdown-menu{
  background-color:white;
  color: rgb(142, 207, 21);
  position: fixed;
}
.dropdown-toggle{
  background-color: rgb(135, 175, 250);
  color:rgb(211, 247, 9);
  font-size:17px;
  width: 100%;
  text-align:center;
  height: 9%;
}
.menuworkspacename{
  color:rgb(8, 11, 235);
}
.menuusername{
  color:white;
}

.input-container{
  width: 500px;
  border: 1px solid #a9a9a9;
  float: left;
  background-color: white;

}
.input-container input:focus, .input-container input:active {
  outline: none;
}
.input-container input {
  width: 90%;
  float: left;
  border: none;
}

.input-container button {
  float: right;
  background-color: white;
  border: none;

}
.modalbox {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  top: 60%;
  left: 40%;
  width: 30%; /* Full width */
  height: 200%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modalbox-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
.closemark {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closemark:hover,
.closemark:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.chaH{
  color:white;
  left:20%;
  top:1%;
  position:fixed;
}
.username{
  color:rgb(19, 94, 233);
}
.container{
  background-color: #008ae6;
}

#for thread form
.displaybox{
  width: 95%;
  margin-left: 50px;
}

.displaybox .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: 50px;
  background-color: white;
  border-radius: 6px;
  padding: 18px;
  border: 1px solid gray;
  /* Position the tooltip */
  float: right;
}

.displaybox:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext div {
  display:table-cell;
  width:33.33%;
  padding:2px;
  border-radius:10px;
  font-size:1.5vw;
  word-wrap:break-word;
  color:#666; 
  
}

.displaybox:hover{
  background-color: rgb(191, 221, 245);
  color: black;
}
.headline {
  background-color: #fff;
  margin: -33px 0 0 20px;
  float: left; 
}

.displaybox .tooltiptext {
  visibility: hidden;
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid gray;

  /* Position the tooltip */
  float: right;
}

.headline {
  background-color: #fff;
  margin: -33px 0 0 20px;
  float: left; 
}



*{
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.border {
  background-color: white;
  width: 500px;
  height: 600px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 50px;
}
.design{
  text-align: center;
  color: red;
  font-size: 20px;
  }
.alert{
  text-align: center;
  color: rgb(166, 209, 101);
  font-size: 30px;
}

.errmsg{
  text-align: center;
  color:red;
  font-size: 30px;
}

.chanameerrmsg{
  text-align: center;
  color: red;
  font-size: 20px;
}


.headline {
  background-color: #fff;
  margin: -33px 0 0 20px;
  float: left; 
}

.threadbox{
  width: 80%;
  margin-left: 50px;
  
}
#sidebar{
  background-color:#F0F8FF;
  width:17%;
  right:0;
  height:100%;
  position: fixed;
  z-index: 1;
  top:9%;
  overflow-x: hidden;
}
.welcome{
  color:blue;
}
body {
	background:rgb(210, 225, 241);
	margin: 0;
}
.messagesendandreceive{
  padding-left: 15%;
  color:blue;
}